/* For extra side white space */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


#title {
  position: relative;
  background-color: black;
  z-index: 15;
}

/* Nav Bar */

.nav-link {
  white-space: nowrap;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-top: 12%;
  padding-bottom: 0px;
}

.nav-link::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.nav-link:hover::after {
  transform: scale(1, 1);
}

.fixed-top {
  background-color: black;
}

.logo {
  margin-bottom: 5px;
}

.nav-link {
  margin-top: 0px;
}

.nav-item {
  font-size: 18px;
  padding: 0px 18px;
}

.navbar-nav {
  font-family: proxima-nova, sans-serif;
}

#navbar {
  justify-content: flex-end;
}

/* main */

#main {
  font-family: source-han-sans-japanese, sans-serif;
  color: #2699fb;
  margin: 6% 0% 10% 0%;
}

.Wework-title {
  color: #2b2b2b;
  text-align: center;
  margin: 10% 0%;
}

.work-box {
  text-align: center;
}

.Wework-title h1 {
  font-size: 50px;
  font-weight: bold;
}

.work-box h4 {
  font-weight: bold;
}

.work-box img {
  margin: 15% 0%;
}

.Steal-man {
  width: 40%;
  /* height: 37%; */
}

.light-bulb {
  width: 40%;
  /* height: 35%; */
}

.textone {
  margin-top: 5px;
  margin-right: 6px;
}

.textone img {
  width: 27px;
  height: 27px;
}

.texttwo {
  margin-top: 5px;
  margin-right: 5px;
}

.texttwo img {
  width: 27px;
  height: 27px;
}

.Vertical-line1 {
  background-color: #a5a5a5;
  width: 2px;
  height: 250px;
}

.Vertical-line2 {
  background-color: #a5a5a5;
  width: 2px;
  height: 250px;
  margin-left: 7%;
}

.work-box .Workboxtext {
  text-align: left;
  display: inline-block;
}

.work-box .Workboxtext-create{
  text-align: left;
  display: inline-block;
}

.work-box .Workboxtext-steal {
  text-align: left;
  display: inline-block;
}

/* main Responsive */

@media screen and (max-width:375px) {

  .Vertical-line1 {
    display: none;
  }

  .Vertical-line2 {
    display: none;
  }

  .Wework-title h1 {
    font-size: 30px;
    margin-top: 20%;
  }

  .Improvement{
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 10px;
  }

  .Create-box {
    margin-bottom: 100px;
  }

  .Steal-box {
    margin-bottom: 100px;
    margin-left: 10px;
  }

  .Workboxtext-steal {
    margin-left: 25px;
  }

}

@media screen and  (min-width:376px) and ( max-width:992px) {

  .Wework-title {
    margin: 20% 0%;
  }

  #main h4 {
    text-align: center;
    font-size: 35px;
  }

  .Vertical-line1 {
    display: none;
  }

  .Vertical-line2 {
    display: none;
  }

  .Improvement {
    margin-bottom: 20%;
    margin-left: 28px;
  }

  .Improvement-man {
    width: 40%;
    /* height: 37%; */
  }

  .textone {
    margin-top: 15px;
    margin-right: 15px;
  }

  .textone img {
    width: 35px;
    height: 35px;
  }

  .texttwo {
    margin-top: 15px;
    margin-right: 15px;
    }

  .texttwo img {
    width: 35px;
    height: 35px;
  }

  .Workboxtext {
    font-size: 130%;
    margin-left: 60px;
    margin-right: 40px;
  }

  .Create-box {
    margin-bottom: 20%;
  }

  .light-bulb {
    width: 40%;
    /* height: 38%; */
  }

  .Workboxtext-create {
    font-size: 140%;
    margin-left: 60px;
    margin-right: 60px;
  }

  .Steal-box {
    margin-left: 20px;
  }

   .Steal-man {
    width: 40%;
    /* height: 38%; */
  }

  .Workboxtext-steal {
    font-size: 130%;
    margin-left: 45px;
  }

  
}


/* main-under */

#main-under {
  color: #2699fb;
  margin-bottom: 10%;
  text-align: center;
}

.Human-img {
  width: 400px;
  height: 400px;
  margin: 0px;
}

.Small-team {
  font-family: proxima-nova, sans-serif;
  text-align: left;
  padding-top: 15%;
  padding-bottom: 0px;
}

.Small-team h2 {
  font-weight: bold;
  font-size: 40px;
}

.textone-under {
  margin-top: 9px;
  margin-right: 10px;
}

.textone-under img {
  width: 27px;
  height: 27px;
}

.texttwo-under {
  margin-top: 9px;
  margin-right: 10px;
}

.texttwo-under img {
  width: 27px;
  height: 27px;
}

.Explanation {
  font-family: source-han-sans-japanese, sans-serif;
  text-align: right;
  padding-top: 11%;
}

.Explanation-text {
  text-align: left;
  display: inline-block;
}

/* main-under Responsive */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .Small-team {
    text-align: center;
  }

  .Human-img {
    padding-top: 50px;
    padding-bottom: 30px;
    height: 100%;
    width: 78%;
  }

  .Explanation-text {
    /* padding-right: 15%; */
    padding-bottom: 30%;
  }

  }

  @media screen and (min-width:500px) and (max-width: 767px) {

    .Explanation {
      text-align: center;
    }
    
    .Explanation-text {
      font-size: 25px;
    }

  }

  @media screen and (min-width:768px) and ( max-width:1080px){

    #main-under {
      margin-top: 150px;
    }

    .Small-team h2{
      text-align: center;
      font-size: 55px;
    }
    
    .Human-img {
      padding-top: 15%;
      /* padding-bottom: 30px; */
      height: 100%;
      width: 78%;
    }
  
    .Explanation-text {
      font-size: 30px;
      padding-right: 105px;
      padding-bottom: 30%;
    }
    
    .textone-under img {
      width: 42px;
      height: 42px;
    }
  
    .texttwo-under img {
      width: 42px;
      height: 42px;
    }

  }


  @media screen and (min-width: 991px) and (max-width: 1199px){
    
    .Small-team h2 {
      font-size: 35px;
    }

    .Human-img {
      padding-top: 0px;
      width: 260px;
      height: 260px;
    }

    .Explanation-text {
      font-size: 15px;
      padding-right: 0px;
    }
    
    .textone-under img {
      width: 27px;
      height: 27px;
    }

    .texttwo-under img {
      width: 27px;
      height: 27px;
    }


  }

/* main2 */

.main2-icon {
  text-align: center;
  margin: 22% 0%;
}

.main2-left {
  background-color: #2699fb;
}

.main2-text {
  text-align: center;
  margin: 22% 0%;
}

.main2-right {
  font-family: source-han-sans-japanese, sans-serif;
  color: #fff;
  background-color: #2b2b2b;
}

.main2-Best {
  font-size: 15px;
}

.main2-contact a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

/* main2 Responsive */

@media screen and (max-width: 375px) {

  .Instagram img {
    height: 95%;
    width: 70%;
  }
  
  .Youtube img {
    height: 100%;
    width: 60%;
  }
  
  .Facebook img {
    height: 95%;
    width: 70%;
  }
  
  .main2-icon {
    margin: 120px 0px;
  }

  .main2-Best {
    font-size: 80%;
    margin-bottom: 35px;
  }
  
}

@media screen and (min-width:768px) and ( max-width:1080px){

  .main2-Best {
    font-size: 27px;
    margin-bottom: 35px;
  }

  .main2-contact a {
    font-size: 45px;
  }

}


/* footer */

#footer {
  background-color: black;
}

a.footer-under {
  text-decoration: none;
}

.footer-box p {
  color: #fff;
  margin: 17% 0% 0% 0%;
}

.footer-box {
  font-family: proxima-nova, sans-serif;
}

.footer-about {
  text-align: center;
}

.footer-under {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-top: 12%;
}

.footer-under::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.footer-under:hover::after {
  transform: scale(1, 1);
}

.footer-item {
  font-size: 17px;
}

.footer-company {
  text-align: center;
}

.footer-UX {
  text-align: center;
}

.footer-contact {
  text-align: center;
}

.footer-LISE {
  text-align: center;
  margin-top: 5%;
}

.copyright {
  text-align: center;
  font-size: 10px;
  margin-bottom: 3%;
}
